.project{
    padding: 10px 40px;
    margin-bottom: 40px;
      
}
.project-crads{
display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.p-card {
    /* width: 400px; */
    height: fit-content;
    position: relative;
    border: 1px solid gray;
    padding: 10px;
    overflow: hidden;
}

.p-card img {
    height: 300px;
    width: 100%;
    /* height: 70%; */
    object-fit: cover;
}

.project-info {
    overflow: hidden;
    height: 30%;
    background-color: var(--black-Background);
    color: var(--text-white);
    padding: 10px;
}
.project-info p{
    font-size: 12px;
    line-height: 18px;
}


.p-card .top-heading div h4,
.p-card .top-heading div h1 {
    padding: 10px 0px;
    font-size: 15px;
    background-color: var(--black-Background);
} 
.p-card .top-heading span{
    background-color: var(--btn);
}

@media (max-width: 599px) {
 .project-crads {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0px;
}
.project {
    padding: 0px 8px;
}
}

@media (min-width: 600px) and (max-width: 767px) {
 
  .project-crads {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0px;
}
.project {
    padding: 0px 8px;
}
   
}
@media (min-width: 768px) and (max-width: 991px) { 
 
  .project-crads {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0px;
}
.project {
    padding: 0px 8px;
}
   
}