.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px 40px;
    margin-bottom: 40px;
}

.services-card {
    /* width: 400px; */
    height: 400px;
    position: relative;
}

.services-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-name{
    position: absolute;
    top: 0;
    padding: 15px;
    color: var(--text-white);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.729);
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.services-name h3{
    padding: 10px 0px ;
}
.services-name p{
line-height: 20px;}


@media (max-width: 599px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px;
}
.services-card {
    width: 100%;
}
.services-name {
    padding: 7px;
   
}
.services-name p{
line-height: 20px;
font-size: 14px;
}

}

@media (min-width: 600px) and (max-width: 767px){ 
     .services {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
}
 }
