* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.projects-box::-webkit-scrollbar,
.news-cards::-webkit-scrollbar,
.Partner-img::-webkit-scrollbar,
.cliets-cards::-webkit-scrollbar,
.clients-cards::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --Background-white: #fff;
  --text-white: #ffff;
  --text-black: #000000;
  --btn-background: #281571;
  --btn: #dc2316;
  --paragraph: #585757;
  --text-red: #dc2316;
  --black-Background: #191919;
  --border-gray-: gray;
}

html,
body {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
}

.contener {
  width: 100%;
  overflow: hidden;
}

.top-heading {
  display: flex;
  position: relative;
  align-items: end;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--text-red);
  margin-bottom: 8px;
  position: absolute;
  z-index: 0;
  left: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  width: 100%;
  z-index: 20;
  /* position: relative; */
  position: absolute;
  top: 0px;
}
.right-nav svg {
  display: none;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logo {
  width: 36px;
  height: 35px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-links a {
  color: var(--text-white);
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--btn-background);
  color: #fff;
}

.nav-btn {
  background-color: var(--btn);
 padding: 10px 20px;
  border-radius: 6px;
  border: none;
    text-decoration: none;
  color: var(--text-white);
}


/* home pages */
.home {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#000000ab, #00000090, #0000009d),
    url("/Img/home.jpg");
  background-size: cover;
  background-position: center;
}

.home-content {
  display: flex;
  height: 100%;
  justify-content: end;
  flex-direction: column;
  gap: 70px;
}
.top {
  width: 100%;
  height: 100%;
  padding-top: 16%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-family: "Lateef";
  padding-bottom: 23px;
  background: -webkit-linear-gradient(#eee, #3333331c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-paragraph {
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--text-white);
  width: 76%;
  font-weight: 200;
  text-align: center;
  font-size: 22.86px;
  line-height: 35px;
  padding-bottom: 15px;
}

.btn {
  border: 1px solid rgb(134, 133, 133);
  background-color: transparent;
  width: 210px;
  height: 50px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: var(--text-white);
  padding: 10px;
  cursor: pointer;
  margin: 15px;
}
.boxs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  bottom: 8%;
  margin-bottom: 50px;
}
.box {
  position: relative;
  width: 263px;
  height: 93px;
  padding-left: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
}
.box::after {
  content: "";
  width: 2px;
  background-color: #888888;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 30px;
}
#box1 p,
#box1 h3 {
  color: var(--text-white);
}
.box .box-heading {
  font-size: 19.92px;
  color: var(--paragraph);
}

.boxs .paragraph {
  color: var(--paragraph);
  font-size: 12.26px;
  width: 85%;
  line-height: 20px;
}

/* brands */
.barnds {
  width: 100%;
  height: 110px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text-red);
}

.left-text h4 {
  color: var(--text-red);
  font-size: 30px;
}
.left-text h1 {
  font-size: 40px;
}
.Partners {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.left-icons,
.right-icons{
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  border:  1px solid var(--paragraph);
 }
.Partner-img{
 min-width: 90%;
 max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* flex-wrap: wrap; */
  /* overflow-x: scroll; */
  /* animation: epice 3s ease-in-out infinite; */
}
/* @keyframes epice {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100);
  }
} */
.Partners img {
  width: 200px;
  height: 70px;
  object-fit: contain;
  border: 1px solid gray;
}


/*/Choose Us section */
.about-section {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;
  padding: 20px 30px;
  gap: 20px;
}

.about-section img {
  min-width: 40%;
  max-width: 100%;
  height: 550px;
  object-fit: cover;
}
.top-heading div {
  background-color: rgb(255, 255, 255);
  z-index: 1;
  position: relative;
}
.top-heading div h1,
.project-heading div h1 {
  position: relative;
  font-size: 45px;
}
.top-heading div h4,
.project-heading div h4 {
  position: relative;
  font-size: 30px;
  color: var(--text-red);
}

.right-text {
  padding: 40px 0px;
}
.right-text p {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 5px;
  min-width: 90%;
  max-width: 100%;
}
.right-text .btn {
  color: var(--text-black);
  font-weight: bold;
}

/* Services section css */

.Services {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: auto;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  margin: 0px 40px;
  margin-bottom: 60px;
}
.left-Services {
  width: 400px;
  height: 600px;
  position: relative;
  margin: auto;
}
.left-Services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-box {
  display: flex;
  position: relative;
  gap: 50px;
}
.service-box div {
  width: 400px;
  height: 400px;
}
.service-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-content {
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: #271571b2;
  width: 100%;
  color: var(--text-white);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.service-content h1 {
  font-size: 40px;
}
.service-content p {
  font-size: 18px;
  line-height: 28px;
}

.service-content button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.service-content button svg {
  height: 30px;
  width: 30px;
  background-color: var(--text-white);
  color: var(--btn);
  border-radius: 5px;
  padding: 3px;
}
.section-cotent-right {
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: #0000009d;
  width: 100%;
  color: var(--text-white);
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.bars {
  display: flex;
  gap: 5px;
  margin-top: 40px;
  align-items: center;
}
.bars span:nth-child(1) {
  background-color: var(--text-red);
}
.bars span {
  width: 36px;
  height: 6px;
  border-radius: 20px;
  background-color: var(--text-black);
  padding: 1px;
}

/* projects css */
.Projects {
  position: relative;
  margin-bottom: 30px;
  padding: 0px 40px;
}

.top-heading .line {
  background-color: var(--btn-background);
}

.projects-box {
  margin-top: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  overflow-x: scroll;
}

.projects-box img {
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  padding: 10px;
  background-position: center;
  object-fit: cover;
}
.Projects button {
  color: #000000;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  font-weight: 600;
}

/* news */
.News {
  position: relative;
  margin-bottom: 30px;
  padding: 0px 30px;
}
.News .top-heading .line {
  background-color: var(--btn);
}

.news-cards {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
}

.card {
  width: 450px;
  height: auto;
  border: 1px solid var(--border-gray-);
  padding: 10px;
  position: relative;
}
.card-top img {
  width: 100%;
}
.news-time {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  background-color: var(--text-white);
  border: 1px solid var(--border-gray-);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 5%;
  align-items: center;
  padding: 5px 20px;
}
.date,
.catgry {
  display: flex;
  align-items: center;
  gap: 5px;
}
.news-time img,
.catgry img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.news-time h3 {
  font-weight: 200;
  font-size: 12px;
}
.card-content {
  margin-top: 20px;
}
.card-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 16px;
  line-height: 24px;
  /* margin-bottom: 30px; */
}
.card-content button {
  color: var(--text-black);
}

.clients {
  background-color: var(--text-black);
  height: 432px;
  color: white;
}

/* clints */
.clients {
  position: relative;
  margin-bottom: 30px;
  padding: 30px 30px;
  background-color: var(--black-Background);
}
.clients .top-heading div {
  background-color: var(--black-Background);
}
.clients .top-heading .line {
  background-color: white;
}
.cliets-cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.client-card {
  flex: 0 0 auto;
  background-color: #3e3c3d;
  width: 500px;
  height: 180px;
  border-radius: 10px;
  padding: 15px;
  white-space: normal;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.client-card p {
  color: #d3d3d3;
  width: 95%;
}
.client-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-info div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-info h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #a8a7a7;
}
.avter {
  width: 40px;
  height: 40px;
  background-color: #888888;
  border-radius: 100%;
}

.card-footer,
.card-footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer div img {
  width: 40px;
  height: 40px;
}

footer {
  background-color: var(--black-Background);
  color: var(--text-white);
  margin-top: 30px;
}
.footer-contaner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.left-side img {
  width: 68px;
  height: 64px;
  object-fit: contain;
}
.contect-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}
.contect-info p {
  width: 350px;
}
.Middle-section,
.group-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contect-info svg {
  width: 20px;
}
.Middle-section a,
.group-links a {
  color: var(--text-white);
  text-decoration: none;
}
.social-links h4 {
  margin-bottom: 10px;
}

.social-links div svg {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 5px;
}

.copyright {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding: 50px;
}

@media (max-width: 599px) {
  nav {
    width: 100%;
    padding: 20px;
    align-items: center;
  }
  .logo{
    width: 60px;
    height: 60px;
  }

  .right-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .right-nav svg {
    display: block;
    color: var(--btn);
    cursor: pointer;
  }

  .nav-links {
    display:none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 100%;
    right: 0px; 
    background-color: var(--Background-white);
    padding: 20px 40px;
    transition: right 0.4s ease, opacity 0.3s ease;
    /* opacity: 0; */
  }
  .box .box-heading,
  .box .paragraph {
    color: #b4b0b0;
}
  .nav-links.show {
    right: 0px; 
    padding: 10px;
    /* opacity: 1; */
    display: flex;
  }

  .nav-links a {
    color: var(--text-black);
    font-size: 5vw;
  }
  .heading {
    font-size: 10vw;
  }
  .home {
    display: flex;
    align-items: end;
}
  .home-content {
    gap: 0px;
}

  .home-paragraph {
    width: 100%;
    font-size: 14px;
    line-height: 23px;
    padding: 2px;
  }
  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  .box {
    position: relative;
    width: 100%;
    height: auto;
}
  .barnds {
    height: auto;
    align-items: start;
    flex-direction: column;
    padding: 10px;
  }
  .about-section,
  .Services {
    flex-direction: column;
    align-items: start;
  }
  .Partners {
    width: 100%;
}
.left-icons,
.right-icons{
  display: none;
}
.Partner-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px; /* spacing between images */
  align-items: center;
  justify-items: center;
}


  .about-section
 {
    padding: 10px 15px;
 }
  .right-text p,
  .Services {
    width: 100%;
  }
  .service-box {
    gap: 10px;
    justify-content: space-around;
  }
  .service-box div {
    width: 200px;
    height: 300px;
    
  }

  .Services {
    margin: 0px 0px ;
  }
  .bars{
   margin:15px 0px ;
  }
  .Projects {
    margin-top: 25px;
}
.Projects , .News {
    padding: 0px 10px;
}
.card-content h1 {
    font-size: 15px;
}
.card-content p {
    font-size: 14px;
    line-height: 19px;
}
.news-time {
    top: 35%;
}
.clients {
    height: 400px;
    color: white;
    padding: 30px 16px;
}
.footer-contaner {
    padding: 10px 19px;
    flex-wrap: wrap;
    gap: 30px;
}
}
.top-heading div h1, .project-heading div h1 {
    font-size: 25px;
}



@media (min-width: 600px) and (max-width: 767px){ 
 nav {
    width: 100%;
    padding: 20px;
    align-items: center;
    
  }
  .logo{
    width: 60px;
    height: 60px;
  }

  .right-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .right-nav svg {
    display: block;
    color: var(--btn);
    cursor: pointer;
  }

  .nav-links {
    display:none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 100%;
    right: 0px; 
    background-color: var(--Background-white);
    padding: 20px 40px;
    transition: right 0.4s ease, opacity 0.3s ease;
    /* opacity: 0; */
  }
  .box .box-heading,
  .box .paragraph {
    color: #b4b0b0;
}
  .nav-links.show {
    right: 0px; 
    padding: 10px;
    /* opacity: 1; */
    display: flex;
  }

  .nav-links a {
    color: var(--text-black);
    font-size: 5vw;
  }
  .heading {
    font-size: 10vw;

}
.home-paragraph {
    width: 100%;
     text-align: justify;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    padding-bottom: 0px;
}
.boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
}

@media (min-width: 768px) and (max-width: 991px) { 
  nav {
    padding: 25px 10px;
}
 .nav-links a {
    padding: 8px ;
    font-size: 14px;
}
.nav-items {
    display: flex;
    align-items: center;
    gap: 5px;
}
}