.web-Design {
  text-align: center;
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.left-image {
  width: 40%;
  height: 550px;
}
.left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
.web-info {
  width: 60%;
  padding: 0px 20px;
  text-align: left;
}

.web-info p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 5px;
    margin-bottom: 15px;
}
.web-info a {
  color: var(--text-black);
  text-decoration: none;
  padding: 10px 45px;
  border: 1px solid var(--text-black);
}

.web-info .top-heading span,
.portfolio .top-heading span
{
  background-color: var(--btn);
}


.portfolio {
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 20px;
  text-align: left  ;
}
.portfolio-img{
     display: grid;
       grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-around;
    padding: 20px 0px;
}

.portfolio img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;

}
.button{
    display: flex;
    justify-content: center;
}
.portfolio a {
    border: 1px solid rgb(134, 133, 133);
  background-color: transparent;
  width: 210px;
  height: 50px;
  color: var(--text-black);
  font-size: 18px;
  text-align: left;
   padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 599px) {
  .web-Design {
    padding: 10px 10px;
    text-align: justify;
    gap: 10px;
    flex-direction: column;
  }
  .left-image {
    width: 100%;
    height: auto;
}
.web-info,
.portfolio {
    width: 100%;
    padding: 0px 5px;
    text-align: justify;
}
.web-info p {
    font-size: 17px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 15px;
}
.top-heading {
    overflow: hidden;
}
.portfolio-img {
    display: grid;
       grid-template-columns: repeat(1, 1fr);

}
.portfolio img{
    width: 100%;
    height: 280px;

}
}

@media (min-width: 600px) and (max-width: 767px) {
  .web-Design {
    padding: 10px 10px;
    text-align: justify;
    gap: 10px;
    flex-direction: column;
  }
  .left-image {
    width: 100%;
    height: auto;
}
.web-info,
.portfolio {
    width: 100%;
    padding: 0px 5px;
    text-align: justify;
}
.web-info p {
    font-size: 17px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 15px;
}
.top-heading {
    overflow: hidden;
}
.portfolio-img {
    display: grid;
       grid-template-columns: repeat(2, 1fr);

}
.portfolio img{
    width: 100%;
    height: 280px;

}
}


@media (min-width: 768px) and (max-width: 991px) {
  .web-Design {
    padding: 10px 10px;
    text-align: justify;
    gap: 10px;
    flex-direction: column;
  }
  .left-image {
    width: 100%;
    height: auto;
}
.web-info,
.portfolio {
    width: 100%;
    padding: 0px 5px;
    text-align: justify;
}
.web-info p {
    font-size: 17px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 15px;
}
.top-heading {
    overflow: hidden;
}
.portfolio-img {
    display: grid;
       grid-template-columns: repeat(3, 1fr);

}
.portfolio img{
    width: 100%;
    height: 280px;

}
}